body{
  background: #white;
  color: #333;
  text-align: left;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

#container{
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 1em;
}

#cabecera{
  background: #33f;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#cabecera #logo{
  width: 20px;
  vertical-align: middle;
}

#cabecera #tagline{
  margin: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container h1{
  font-size: 20px;
}

#post{
  padding: 1em;
}

#imagen{
  width: 100%;
}

#footer{
  background: #777;
  color: white;
  text-align: center;
}
